* {
    margin: auto;
    background: gray;
}

#game-container {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-container>canvas {
    border: 10px solid black;
}